<%- include('template/cabecera', {tituloWeb: 'Página de Inicio'}) %>

    <h1>Título de mi página web EJS</h1>
    <h2><%= titulo %></h2>
    <h2><%= descripcion %></h2>

<%- include('template/footer') %>
